
<head>
    <link href="~/StyleSheet.css" />
</head>
<body>
    <form method="post">
        <label for="studentName">Student Name</label>
        <input maxlength="12" placeholder="Student Name" name="studentName" />

        <label for="studentAge">Student Age</label>
        <input name="studentAge" />

        <button type="submit">Create Student</button>

    </form>
</body>


