<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Welcome to my site!</h1>
    </header>
    <div>
        @RenderBody()
    </div>

    <p>Thank you for visiting</p>
</body>
</html>
