@using Microsoft.AspNetCore.Identity
@using BlogPostClassDemo.Models

@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

Welcome Home!


@if (SignInManager.IsSignedIn(User))
{
    <p>Welcome to my site @User.Claims.First(name => name.Type == "FullName").Value; </p>
}
else
{
    <p> You are not logged in!</p>
}

@await Component.InvokeAsync("TopArticles", 3)

<form asp-action="ProcessPayment" asp-controller="Home" method="post">
    <button type="submit">I want to pay money!</button>
</form>

<form asp-action="Logout" asp-controller="Account" method="post">
    <button type="submit">LOGOUT!</button>
</form>
