@page
@model BlogPostClassDemo.Pages.Blog.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form method="post">
    <label asp-for="Blog.Title">Title</label>
    <input asp-for="Blog.Title" />

    <label asp-for="Blog.Content">Content</label>
    <input asp-for="Blog.Content" />

    <input type="submit" value="CREATE!">

</form>
